.sidebar-options {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
}

.sidebar-options:hover {
    background-color: gainsboro;
    border-radius: 30px;
    color: green;
    transition: color 100ms ease-in;
}

.sidebar-options > .MuiSvgIcon-root {
    font-size: 30px !important;
    padding: 15px;
}
