.sidebar{
    border-right: 1px solid whitesmoke;
    flex: 0.3;
    min-width: 250px;
    margin-left: 20px;
    margin-right: 0px;
}

.sidebar__twitterIcon {
    color: skyblue !important;
    font-size: 30px;
    margin: 10px 20px;
}
